* {
  padding: 0px;
  margin: 0px;
}

body {
  background-color: #f1f1f1;
}

header {
  color: #feffff;
  background-color: #bf1111;
  width: 100%;
  padding: 2vh;
  font-size: 2em;

}

main {
  float: left;
  width: auto;
}

aside {
  float:right;
  margin-right: 15em;
  width: auto;
}

main, aside {
  padding: 6vw;
}

main ul {
  list-style-type: none;
}

h2 {
  margin-bottom: 4vh;
  font-size: 2.5em;
  font-family: sans-serif;
}

.pie {
  margin-bottom: 4.5vh;
  padding: 1em;
  outline: dotted;
  width: auto;
}

.pie h3 {
  font-size: 2em;
}

.pie p {
  font-size: 1em;
}

#toppings, ul {
  margin-left: 3vw;
}

#toppings h3 {
  font-size: 2em;
}

ul {
  margin-bottom: 2vh;
}

footer {
  margin-top: 1vh;
  text-align: center;
  width: 100%;
  float: left;
}
